# CODEOWNERS file for the da-coaches team from neuefische organization

# Define default code owners
* @neuefische/data-analytics

# Some syntax templates ...

# Specify code owners for specific directories or files
# Example: The 'src' directory is owned by user1 and user2
# /src/ @user1 @user2

# Example: The 'docs' directory is owned by user3
# /docs/ @user3

# Example: A specific file 'config.yml' is owned by user4
# /config.yml @user4

# Specify code owners for a specific file pattern
# Example: All Python files are owned by user5
# *.py @user5